.our-works {
    padding-top: 0px;
}

.our-works-card:not(:last-child) {
    margin-right: 30px;
}

.our-works-card {
    position: relative;
}

.our-works-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
}

.works {
    display: flex;
    flex-wrap: wrap;
}